@{
    Layout = null;
}
<div class="well well-lg">
    <div  class="form-group">
        <label data-bind="text:Name "> Number for A</label>
        <input type="text" data-bind="textInput: Number"  class="form-control"/>
    </div>
    <div  class="form-group">
        <label> Content for <span data-bind="text:Name"></span></label>
        <input type="text" data-bind="textInput: Value"  class="form-control"/>
    </div>
</div>